@font-face {
	font-family: 'century gothic';
	src: url('polices/gothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: rgba(69, 71, 69, 1);
	margin: 0;
	font-family: 'century gothic';
	font-weight: normal;
}

#bloc_page {
	position: relative;
	background-color: rgba(0, 0, 0, .1);
	width: 1100px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 0 0 15px rgba(36, 37, 36, 1);
}

#bloc_page h1 {
	font-family: 'century gothic';
	font-weight: normal;
	font-size: 2em;
	color: rgba(2, 205, 98, 1);
	text-shadow: 4px 4px 15px rgba(36, 37, 36, 1);
	position: relative;
	top: 27px;
	left: 25px;
	margin-top: 0;
	display: inline-block;
}

#top {
	width: 1050px;
	border-top: dotted 1px rgba(255, 255, 255, .2);
	border-bottom: solid 1px rgba(255, 255, 255, .3);
	position: relative;
	left: 25px;
	margin-top: 14px;
	padding-top: 13px;
	padding-bottom: 17px;
	font-size: 1em;
	color: rgba(255, 255, 255, .4);
}

#pseudo {
	color: rgba(2, 205, 98, 1);
	font-size: 1.05em;
	text-decoration: none;
}

#nav {
	width: 1050px;
	height: 37px;
	background-color: rgba(0, 0, 0, .4);
	margin-top: 18px;
	margin-bottom: 15px;
}

#nav ul {
	list-style-type: none;
}

#nav li {
	display: inline-block;
}

#nav a {
	text-decoration: none;
	color: rgba(2, 205, 98, .7);
	font-size: .9em;
	position: relative;
	left: -37px;
	top: 13px;
	border-right: solid 2px #3e403e;
	padding-top: 17px;
	padding-bottom: 11px;
	padding-right: 25px;
	padding-left: 5px;
}

#nav a:hover {
	color: rgba(2, 205, 98, 1);
}

#lgt{
	position: relative;
	left: 493px;
}

#addForm{
	margin-left: 25px;
	padding-bottom: 40px;
	color: rgba(2, 205, 98, .8);
}

#addForm td{
	color: rgba(255,255,255,.5);
	padding-right: 15px;
}

#addForm input{
	padding-left: 7px;
}

#addForm input[type=submit]{
	margin-top: 10px;
	width: 100px;
	border-radius: 3px;
}

#displayList{
	margin: 18px 0 0 25px;
	padding-bottom: 40px;
	color: rgba(255,255,255,.5);
}

#displayList td{
	padding: 5px 12px;
}
#displayList table{
	margin-top: 10px;
}

#ttl{
	font-size: 16px;
	color: rgba(255,255,255,.4);
}

#displayList a{
	text-decoration: none;
	color: rgba(255,255,0,.7);
}

#displayNews{
	margin: 20px 25px 40px 25px;
}

